*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: #ffffff;
}
header{
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
nav{
    background-color: #ffffff;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav a{
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 549;
    color: #000;
}
.logo{
    margin-top: 8px;
    padding-left: 2.5rem;
}

/*buttom by https://uiverse.io/detail/alexruix/slippery-frog-10*/
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
   }
   
   .input {
    width: 135px;
    height: 40px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    background-color: #ffffff;
    color: #0d0c22;
    transition: .3s ease;
    box-shadow: 0 0 3px 3px #0000003d;
   }

   
   .input:focus, input:hover {
    outline: none;
    border-color:#FE4A51;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #FE4A51;
    width: 1rem;
    height: 1rem;

   }
   
   

/* Home */

.home{
    background-image: url("../image/Backgroud Image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}


.home-content-horizontal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content-vertical{
    padding-top: 5%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.home-content-vertical > h1{
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 72px;
    font-weight: 800;
    color: rgb(255, 255, 255);
}
.home-content-vertical figure{
    color: #ffffff;
    font-family: 'Playfair Display', sans-serif;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-recipes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 124px;
    height: 38px;
    color: #ffffff;
    background-color: #FE4A51;
    border: 0;
}

.main-reel{
    margin-top: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.main-reel img{
    height: 230px;
}